/* start header */
.heder{
    padding: 40px 0;
    
}
.row .logo{
    width: 98px;
    height: 34px;
}
nav .ul .li {
    font-size: 16px;
    font-family: var(--primary_font);
   }
ul .active{
    color: var(--primary);
}

header form {
    border: 2px solid #E7E6EF;
}
form .search {
    border: none;
    outline: none;
    font-size: 16px;

}
form .button {
   border: none;
    outline: none; 
}
/*end heder*/
/*start top section*/
.Top{
    padding: 40px 0;
}
.Top .divs{
    gap: 56px;
}
.Top h2{
    text-align: center;
    color: #151875;
    font-size: 42px;
}

.products h3{
    color: #151875;
    font-size: 20px;
}
.products span{
color: #151875;
font-size: 16px;
}
.products{
    gap: 39px;
}
.product{
    background-color: #F6F7FB;
    border-radius: 50%;
    width: 230px;
    height: 230px;
    text-align: center;
        justify-content: center;
    align-items: center;
    transition: all 0.6s 0.6s ;
    
}
.product:hover{
    box-shadow: 0 8px 40px 0 #9877E7;
}
.Top img{
    width: 178px;
    height: 178px;
}
.data {
    text-align: center;
}
.buttons{
    align-items: center;
    justify-content: center;
}
.p{
    flex-grow: 1;
}
/*end top section*/
/*start client section*/
.client{
    padding: 40px 0;

}
.client img{
    height: 70px;
}

/*end client section*/
/*start shope section */
.shope{
    background-image: url(./photo/background.jpg);
padding: 174px;
background-repeat: no-repeat;
}
.shope .contact{
    justify-content: center;
    align-items: center;
}
.shope .contact h2{
    font-size: 35px;
    color: #151875;
    text-align: center;
}

/*end shope section*/
.client{
    text-align: center;
}
/*start living room section*/
.living_room{
    padding: 106px 0;

}
.living_room h2{
    margin-bottom:80px ;
    font-size: 42px;
    color: #151875;
    text-align: center;
}
.living_room .rooms {
    
    gap: 30px;
}


.rooms .head{
    justify-content: flex-start;
}
.rooms .head span{
    font-size: 14px;
    color: #151875;
}
.rooms h3{
    font-size: 18px;
    color: #151875;
}

.rooms p{
    font-size: 16px;
    color: var(--three);
    line-height: 30px;
}
.rooms a{
    color: #151875;
    text-decoration: underline;
    font-size: 18px;
}
 .rooms a :visited{
    color: var(--primary);
}
.room1 , .room2 ,.room3{
    flex-grow: 1;
    width: calc((100% - 380px) / 3);
}

/*end living room section*/
/*start footer*/
footer{
    background-color: #EEEFFB;
    padding: 106px 0;
}
.form2{
    border:2px solid #E7E6EF;
}
.sign_up{
    gap: 34px;
}
.form2 .sign{
    border: none;
    outline: none;
    height: 33px;

}
.info p , address{
    color: var(--three);
    font-size: 16px;
}
.catog{
    gap: 30px;

}
.catog h2{
    color: #000000;
    font-size: 22px;
}
.catog ul li {
    color: var(--three);
    font-size: 16px;
}
.customar{
   gap: 30px; 
}
.customar h2{
    color: #000000;
    font-size: 22px;
}
.customar ul li {
    color: var(--three);
    font-size: 16px;}
.pages{
        gap: 30px;
    }
    .pages h2{
        color: #000000;
    font-size: 22px;
    }
    .pages ul li{
        color: var(--three);
    font-size: 16px;
    text-transform: capitalize;
    }



/*end footer*/