/* start header */
.heder{
    padding: 40px 0;
    
}
.row .logo{
    width: 98px;
    height: 34px;
}
nav .ul .li {
    font-size: 16px;
    font-family: var(--primary_font);
   }
ul .active{
    color: var(--primary);
}

header form {
    border: 2px solid #E7E6EF;
}
form .search {
    border: none;
    outline: none;
    font-size: 16px;

}
form .button {
   border: none;
    outline: none; 
}
/*end heder*/
/*start client section*/
.client{
    padding: 40px 0;

}
.client img{
    height: 70px;
}

/*end client section*/
/*start shope section */
.shope{
    background-image: url(./photo/background.jpg);
padding: 174px;
background-repeat: no-repeat;
}
.shope .contact{
    justify-content: center;
    align-items: center;
}
.shope .contact h2{
    font-size: 35px;
    color: #151875;
    text-align: center;
}

/*end shope section*/
/*start footer*/
footer{
    background-color: #EEEFFB;
    padding: 106px 0;
}
.form2{
    border:2px solid #E7E6EF;
}
.sign_up{
    gap: 34px;
}
.form2 .sign{
    border: none;
    outline: none;
    height: 33px;

}
.info p , address{
    color: var(--three);
    font-size: 16px;
}
.catog{
    gap: 30px;

}
.catog h2{
    color: #000000;
    font-size: 22px;
}
.catog ul li {
    color: var(--three);
    font-size: 16px;
}
.customar{
   gap: 30px; 
}
.customar h2{
    color: #000000;
    font-size: 22px;
}
.customar ul li {
    color: var(--three);
    font-size: 16px;}
.pages{
        gap: 30px;
    }
    .pages h2{
        color: #000000;
    font-size: 22px;
    }
    .pages ul li{
        color: var(--three);
    font-size: 16px;
    text-transform: capitalize;
    }



/*end footer*/